
	body {
		background-color: #F4F4F4;
		color:#373737
	}
	
	h1 {
	background-color:#C0B283;
	}
	header>h1{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	width:100%;
	margin:0;
	padding:0 10%;
	text-align:center;
	}

	h2 {
	background-color:#DCD0C0;
	}
	
	h3 {
	background-color:#DCD0C0;
	}
	a {
		color:#C0B283;
	}

	html{
		font-family: Arial;
		font-size: 16px
	}
	#tabla{
		text-align: center
	}
	#tabla th {
    background-color: #dcd0c0;
      }
	
	tr:nth-child(odd){background-color: #FFFFFF;}

img{
	display:block;
	margin:auto;
	}

.justifyText{	
	text-align : justify;
	}
