
	body {
		background-color: #F4F4F4;
		color:#373737
	}
	
	h1 {
	background-color:#C0B283; text-align: center;
	}
	

URL del artículo: http://www.ejemplode.com/18-css/509-ejemplo_de_justificar,_centrar_y_alinear_a_la_derecha_con_css.html
Nota completa: Justificar, centrar y alinear a la derecha con CSS
	h2 {
	background-color:#DCD0C0;
	}
	
	h3 {
	background-color:#DCD0C0;
	}
	a {
		color:#C0B283;
	}

	html{
		font-family: Arial;
		font-size: 16px
	}
	#tabla{
		text-align: center
	}
	#tabla th {
    background-color: #dcd0c0;
      }
	
	tr:nth-child(odd){background-color: #FFFFFF;}


 .centro {
	 width: 900px;
	 margin: 0 auto;
	 margin-bottom: 100px;
	}

.justifyText{	
	text-align : justify;
	}
